@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

a:hover {
  color: var(--bs-success);
  font-weight: 500;
}

footer {
  background-color: #262626;
  z-index: 9999;
}
